@{
    ViewBag.Title = "FAQs";
}
@Scripts.Render("~/bundles/ngFAQs")
<div class="row" ng-controller="FAQsController">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>FAQs
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div id="accordion1" class="panel-group">
                            <div class="panel panel-default" ng-repeat="faq in FAQs">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{faq.Id}}" href="#{{faq.Id}}">
                                            {{faq.Question}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{faq.Id}" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <span ng-bind-html="faq.Answer"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

