<div class="tab-pane active">
    <div class="row" ng-controller="EndOfDateTransactionReportController">
        <form name="frm" novalidate>
            <div class="col-md-12">
                <h3 class="form-section">End Of Date Transactions Report</h3>
            </div>
        </form>
    </div>
</div>
