<div class="tab-pane active" id="memberSearch">
    
    <br />
    <div class="portlet box grey" ng-controller="AddMemberInfoController">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i>
                New Member
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal"  name="frm" novalidate>
                <br />
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-md-5 control-label">Account</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="AccountNumber" ng-model="Member.AccountNumber" required>
                                <span style="color: #ff0000" ng-show="IsSubmitted && frm.AccountNumber.$error.required">Account is required
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Name" ng-model="Member.Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Address 1</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Address" ng-model="Member.Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Address 2</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Address1" ng-model="Member.Address1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">City</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="City" ng-model="Member.City">
                                <span style="color: #ff0000" ng-show="IsSubmitted && frm.City.$error.required">City is required
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">State/Zip</label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="Member.State" name="State">
                                    <option ng-repeat="state in States" ng-value="state">{{state}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="Member.Zip" name="Zip" input-mask="{mask:'99999'}" ng-type="phone">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-5 control-label"></label>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="Member.UseThisAddressForBilling" name="UseThisAddressForBilling">
                                        Use This Address For Billing?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">IRIS #</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="IRIS" ng-model="Member.IRIS">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Primary Phone</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Phone1" ng-model="Member.Phone1" input-mask="{mask:'999-999-9999'}" ng-type="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Phone 2</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Phone2" ng-model="Member.Phone2" input-mask="{mask:'999-999-9999'}" ng-type="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Fax</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Fax" ng-model="Member.Fax" input-mask="{mask:'999-999-9999'}" ng-type="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="Email" ng-model="Member.Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member SSN</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="SSN" ng-model="Member.SSN">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Member Article</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Article" ng-model="Member.Article">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Fein #</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Fein" ng-model="Member.Fein">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Incorporation Date</label>
                            <div class="col-md-6">
                                <div class="input-group input-medium date date-picker">
                                    <input type="text" class="form-control" readonly="" name="IncorporationDate" datetime-picker="mm/dd/yyyy" ng-model="Member.IncorporationDate">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span style="color: #ff0000" ng-show="IsSubmitted && frm.IncorporationDate.$error.required">IncorporationDate is required
                                </span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Status</label>
                            <div class="col-md-3">
                                <select type="text" class="form-control" name="Status" ng-model="Member.Status" ng-options="s for s in Status"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Date Joined</label>
                            <div class="col-md-6">
                                <div class="input-group input-medium date date-picker">
                                    <input type="text" class="form-control" datetime-picker="mm/dd/yyyy" name="JoinedDate" ng-model="Member.JoinedDate" readonly="">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Member Preferences-->
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-md-5 control-label"><b>Member Preferences</b></label>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Prefered Payment Type</label>
                            <div class="col-md-6">
                                <select class="form-control" name="PreferPayment" ng-model="Member.PreferPayment" ng-options="pp for pp in PreferPayments"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Late Breaks</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="LateBreaks" ng-model="Member.LateBreaks">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Default Worker Comp (Weekly)</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="DefaultWorkerComp" ng-model="Member.DefaultWorkerComp">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Registered Agent Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="RegisteredAgentName" ng-model="Member.RegisteredAgentName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Address 1</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="AgentAddress" ng-model="Member.AgentAddress">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Address 2</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="AgentAddress1" ng-model="Member.AgentAddress1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">City</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="AgentCity" ng-model="Member.AgentCity">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">State/Zip</label>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="Member.AgentState" name="AgentState">
                                    <option ng-repeat="state in States" ng-value="state">{{state}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="Member.AgentZip" name="AgentZip" input-mask="{mask:'99999'}" ng-type="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label">Receipt message</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="ReciepMessage" ng-model="Member.ReciepMessage">      </textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div class="form-actions nobg fluid">
                <div class="col-md-offset-5 col-md-9">
                    <button type="button" class="btn btn green" ng-click="Save(frm.$invalid)">Save   </button>
                    <button class="btn btn-default" ng-click="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
